
.parallax { 
    /* The image used */
    background-image: url("../img/bg.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro{
    height: 100vh;
}
.btn-theme{
    background-color: #18BC9C;
    color: white;
    width: 200px;
    margin: 10px;
}
.thumbnail{
    width: 80px;
}
#demo-card{
    background-color: white;
}

/* footer{
    position: fixed;
    bottom: 0px;
    width: 100vw;
} */

#githublogo{
    position: fixed;
    top: 10px;
    right: 30px;
    width: 100px;
    z-index: 10;
}

.delay2s {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    /* -vendor-animation-iteration-count: infinite; */
}

.selected{
    outline: 4px solid yellow;
}
@media print {

    @page :left, :right {
        margin: 0.5cm;
    }

    body * {
      visibility: hidden;
    }
    #review-panel, #review-panel *, #review-panel cardframe img {
      visibility: visible;
    }
    #review-panel {
      position: absolute;
      left: 0;
      top: 0;
    }

    #review-panel .cardframe{
        border: 1px solid black;
    }

    div{
        page-break-inside: avoid;
    }
  }